# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# other files
.vscode/
.idea/
__pycache__/

# from SUMO-V2X-Communication-Research-Platooning-and-CIM project
SUMO_code/SUMO-V2X-Communication-Research-Platooning-and-CIM project/*.pyc
SUMO_code/SUMO-V2X-Communication-Research-Platooning-and-CIM project/output/emissionsOutput.xml
/utility/.ipynb_checkpoints/
/SUMO_code/SUMO-V2X-Communication-Research-Platooning-and-CIM/output/
